li {
  list-style: none;
}

.text-blueGray {
  color: #7d9abf
}

.bg-blueGray {
  background-color: #7d9abf;
}

.blueGray-focus:focus {
  border-color: #7d9abf;
  box-shadow: 0 0 0 0.2rem rgb(193, 194, 194); 
}

.text-destacado {
  font-size: 20px;
  font-weight: bold;
}

.logo {
  width: 150px;
}